body {
	background-color: #020202;	
   
}

.container{
    display: flex;
    
    h1{
        color: #e7ab5de0;
        font-family: "Exo 2", sans-serif;
        font-size:60px;
        margin-top: 2px;
        margin-right: 20px;
        margin-left: 20px;
       margin-bottom: 0%;
    }
  img{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
  }

.navbar {
    background-color: #000000;
    height: 50px;
   width: 450px;
   margin-left: 250px;
   margin-top: 20px;
       
  }
  
  /* links inside the navigation bar */
  .navbar a {
    float: left;
    color: #e7ab5de0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #e7ab5de0;
    color: black;
  }
}
.box1{
    
    /* Text over Image */
    .inner {
     
      position: absolute;
      bottom:80px;
      right: 300px;
      left:200px;
      background-color: rgba(0, 0, 0, 0.616);
      width: 800px;
      color: #e7ab5de0;
      font-size: 30px;
      height: 300px;
      width: 1000px;
     text-align: center;

     h1{
      margin-bottom: 0%;
     }
     h4{
      margin-top: 0%;
     }
    }
  
  img{
      height: 500px;
      width: 1350px;
  }
}
.box2{
    color: #ebac79;
    h1{
        font-size: 40px;
        margin-top: 40px;
        margin-left: 400px;
    }
    p{
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 80px;
        font-size: 20px;
        text-align: center;
    }

    img{
        height: 450Px;
        width: 300px;
        margin-left: 500px;
    }
    h4{
        margin-left: 550px;
        font-size: 30px;
        margin-top: 0%;
    }
  }
  .box3{
    display: flex;
    color:  #773b12;
    font-size: 25px;
    margin-top: 80px;
     
    img{
        height: 30px;
        width: 50px;
        margin-top: 5px;
     }
     
     .h1{
        width: 200px;
        height: 5px;
        background-color: #773b12;
        margin-left: 300px;
        margin-top: 15px;
     }
     .h2{
        width: 200px;
        height: 5px;
        background-color: #773b12;
        margin-top: 15px;
        margin-left: 15px;
    }


  }
 
  .box4{
    background-color: #ebac79b6;
    color: #000000;
    height: 500px;
    margin-top: 50px;
   
    h1{
        margin-left: 480px;
        font-size: 40px;
    }
    img{
        height: 380px;
        width: 700px;
        margin-left: 300px;
    }
  }

  .box5{
    background-color: #ebac79;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 100px;
    height: 400px;
    width: 900px;

    h1{
        margin-bottom: 120px;
        margin-left: 300px;
        font-size: 50px;
    }
  }